body {
  margin: 0;
}

.nav {
  background-color: #222;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.anchor {
  padding-top: 100px;
  margin-top: -100px;
}

.main {
  margin-top: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  width: 85%;
  line-height: 1.2;
  color: #222;
  padding-bottom: 10px;
}

.decoration {
  width: 40%;
  overflow: hidden;
}

.image-holder {
  overflow: hidden;
}

.text {
  width: 58%;
}

#bio {
  height: 350px;
}

img {
  position: relative;
  left: -400px;
  width: 1000px;
  height: 350px;
  text-align: center;
  object-fit: cover;
}

.title {
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  color: #222;
  top: 270px;
  margin-left: 40px;
  width: 400px;
}

#title-large {
  font-size: 200%;
}

ul {
  list-style-type: square;
  padding-left: 40px;
}

blockquote {
  font-family: 'Orbitron', sans-serif;
  position: relative;
  background: #444;
  color: white;
  font-size: 40px;
  padding: 40px 20px 20px 40px;
  margin: 0;
}

blockquote::before {
  content: '“';
  position: absolute;
  top: -5px;
  left: 5px;
  font-size: 80px;
}

.text h2 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-small {
  font-size: 90%;
}

.h3-top-detail {
  margin-bottom: 0;
}

.h4-detail {
  margin-top: 0;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 15px;
  font-style: italic;
}